<%= title :Minimages, [
    { label: "New minimage", href: new_minimage_path }
] %>

<div>Total pictures: <%= @minimages.count %></div>
<%= horizontal_space %>
<%= horizontal_space %>

<%= success_message(notice) if notice.present? %>

<div id="minimages" class="gallery">
  <%= render @minimages %>
</div>
